# dependencies
node_modules
.pnpm-store

# next.js
.next/
out/

# turbo
.turbo

# env files
.env
.env.local
.env.*.local

# supabase
supabase/.temp
supabase/.branches

# build outputs
dist/
build/

# misc
.DS_Store
*.pem
